img {
  float: left;
  width: 100%;
}

li {
  font-size: 15px;
}

.desc li {
  font-size: 30px;
}

.bold {
  font-weight: bold;
}

.logo {
  height: 130px;
  width: 130px;
}

.italic {
  font-style: italic;
}

p {
  font-size: 17px;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
